---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	#heroImage="/blog-placeholder-about.jpg"
>
	<p>歡迎來到這裡，是由一位熱衷於提升日常效率的個人所創建的<strong>數位發想實驗室</strong>。</p>

	<p>最初的構想，源於尋找一個更簡單、更直覺的方式來追蹤生活中重要的時間點。無論是距離下一個國定假日的期待，還是專注於某項任務的倒數計時，我們相信**時間管理不應該是複雜的負擔**。</p>
        
	<p>這裡所有的工具，包括我們的核心倒數計時功能，都是從真實的日常需求中發想和開發出來的。我們致力於提供：</p>
</Layout>
