---
// AdsRight.astro
---
<style>
  .sidebar-ads {
    width: 300px;
    margin-left: 24px;
  }

  @media (max-width: 900px) {
    .sidebar-ads {
      display: none; /* 手機與窄螢幕隱藏 sidebar */
    }
  }
</style>

<div class="sidebar-ads">
  <!-- google-ad -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-6026639928482840"
      data-ad-slot="8483122106"
      data-ad-format="rectangle"
      data-full-width-responsive="false"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
