<style>
  .right-ads {
    position: fixed;
    right: 12px;
    top: 120px;
    width: 300px;
    z-index: 9999;
  }

  /* 手機自動隱藏（AdSense 規定不能在手機放 fixed 廣告） */
  @media (max-width: 768px) {
    .right-ads {
      display: none;
    }
  }
</style>

<div class="right-ads">
    <!-- google-ad -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-6026639928482840"
        data-ad-slot="8483122106"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
