---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<div class="social-links">
      		<a href="/"> <img src="/logo_no_bg.png" alt="網站標誌"> </a>
    	</div>
		<div class="internal-links">
			<HeaderLink href="/">首頁</HeaderLink>
			<HeaderLink href="/tools/myip">查IP</HeaderLink>
			<HeaderLink href="/tools/netcalc">網段計算</HeaderLink>
			<HeaderLink href="/blog">部落格</HeaderLink>
			<HeaderLink href="/about">關於</HeaderLink>
		</div>
		<h2><a href="/">{SITE_TITLE}</a></h2>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: #555;
	}
	 /* === 針對圖片尺寸的修正開始 === */
	.social-links img {
		width: 80px; /* 設定固定寬度 */
		height: 40px; /* 設定固定高度 */
        margin-right: 15px; /* 增加一點右邊距，讓圖標和連結分開 */
        /* 保持圖片在導航欄中垂直置中 */
        align-self: center; 
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
