---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import AdsRight from "../components/AdsRight.astro";

const { title, description } = Astro.props;
---

<html lang="zh-TW">
<head>
  <meta charset="UTF-8" />
  <title>{title}</title>
  <meta name="description" content={description} />

  <!-- 全站只要載入一次 -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6026639928482840"
    crossorigin="anonymous"></script>
</head>

<body>
  <Header />

  <main>
    <slot />  <!-- 每頁內容 -->
  </main>

  <AdsRight />  <!-- 全站右側浮動廣告 -->

  <Footer />
</body>
</html>
